<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>867332172135-q271pj5gcnvvlcussvooj4jabjcsm8ep.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.867332172135-q271pj5gcnvvlcussvooj4jabjcsm8ep</string>
	<key>API_KEY</key>
	<string>AIzaSyDjLFJ5T6vMBXWy7NTXxlQfERpfoz7Qth4</string>
	<key>GCM_SENDER_ID</key>
	<string>867332172135</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mywebtoon</string>
	<key>PROJECT_ID</key>
	<string>mywebtoon-c6886</string>
	<key>STORAGE_BUCKET</key>
	<string>mywebtoon-c6886.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:867332172135:ios:4b7f1af45af4d5fadd67c2</string>
</dict>
</plist>